#assurance{
    opacity: 0.5;
    margin-top: 0%;
}
#formcontainer{
    width: min-content;
    margin: auto;
}
body{
    font-family: sans-serif;
}
#validators{
    float: right;
}
input.inputbox{
    width: 500px;
}
button{
    color: whitesmoke;
    background-color: rgb(0,150,255);
    border-radius: 3px;
    padding: 12px 28px;
    font-family: Verdana;

}