body{
    background-image: url(../images/tmnt/background.png);
    margin: 0;
}
#main{
    border-radius:25px;
    border-style: solid;
    border-color: gray;
    background-color:lightgreen;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 97% 3%;
    width: 55%;
}
#top{
    display:grid;
    grid-template-columns: 70.5% 29.5%;
}
#main >div#bottom{
    text-align: center;
}
h1{
    text-align: center;
    text-shadow: 10px 10px 10px rgb(117, 30, 45);
}
#banner{
    border-top-left-radius: 25px;
    font-size: 5em;
    color: red;
    background-image: url(../images/tmnt/rbg.png);
    background-repeat: repeat-x;
    height: 83px;
    overflow: hidden;
    /* background-position-y: center; */
}
#banner >img{
    border-top-left-radius:23px;
    /* vertical-align: middle; */
}
#reviewbox{
    background-image: url(../images/tmnt/background.png);
    display: grid;
    grid-template-columns: 50% 50%;
}
#reviewbox >div{
    padding: 5px;
}
#overview >img{
    border-top-right-radius: 25px;
}
dl >dt{
    font-weight: bold;
}

p.reviews{
    font-style: oblique;
    font-weight: bold;
    border-radius: 15px;
    border-style: solid;
    border-color: gray;
    background-color: rgb(245, 222, 202);
    padding: 5px;
}
p.name >img{
    vertical-align: middle;

}
#validators{
    float: right;
}
#rancidtop{
    background-image: url(../images/tmnt/bannerbg.png);
    background-repeat: repeat-x;
    text-align: center;
}
/*  
div#divLeftSide{
    float:left

} */

div#divRightSide{
    overflow: hidden;
} 