#validators{
    float: right;
    clear: right;
}
#banner{
    background-color: rgb(0,150,255);
    color: white;
    width: 700px;
    margin: auto;
    height: 35px;
    padding: 10px;
}
#banner a{
    text-decoration: none;
    color: white;
    border-left: ridge;
    border-left-color: thistle;   
}
#banner #bannercorner{
    float: right;
}
button{
    padding: 12px;
    font-family:sans-serif;
    font-size: 1.1em;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-family: verdana;
}
#buttonsright{
    float: right;
    border: thin;
    padding: 0;
}

#resetbutton{
    border-color:seagreen;
    color: seagreen;
}
#cancelbutton{
    border-color:red;
    color: red;
}
#addproductbutton{
    border-color:blue ;
    color: blue;
}
form{
    /* border: solid; */
    width: 700px;
    margin: auto;
    margin-bottom:  100px;
}

#forminputdiv{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    /* border: solid; */
}
#forminputdiv >div{
    padding-top: 10px;
    padding-bottom: 10px;
}
.inputbox{
    width: 325px; ;
}
/* div#outer{
    width: 700px;
    margin: auto;
    padding-bottom: 100px;
    border: solid;
} */