#validators{
    float: right;
    clear: right;
}
body{
    margin: 0;
    font-family: cursive;
}
#navbar{
    background-color: rgb(0,150,255);
    color: white;
    height: 50px;
    padding: 2px;
    /* align-items: center; */
}
#navbar a{
    text-decoration: none;
    color: white;
    border-left: ridge;
    border-left-color: thistle;   
}
#navbar #bannercorner{
    float: right;
}
#bannerleft a, b{
    padding: 25px;
}
button{
    padding: 12px;
    font-family:sans-serif;
    font-size: 1.1em;
    border-radius: 10px;
}
h1{
    font-family: sans-serif;
}
#buttonsright{
    float: right;
    border: thin;
    padding: 0;
}

#resetbutton{
    border-color:seagreen;
    color: seagreen;
}
#cancelbutton{
    border-color:red;
    color: red;
}
#addproductbutton{
    border-color:blue ;
    color: blue;
}
form{
    /* border: solid; */
    width: 700px;
    margin: auto;
    margin-bottom:  100px;
}

#forminputdiv{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    /* border: solid; */
}
#forminputdiv >div{
    padding-top: 10px;
    padding-bottom: 10px;
}
.inputbox{
    width: 325px; ;
}
div#outer{
    width: 750px;
    margin: auto;
    padding-bottom: 25px;
}