.rightspan{
    float: right;
}
/* header,footer{
    height: 200pt;
} */

header{
    background-color: chocolate;
    padding: 1px;
}
body{
    margin: 0;
}
nav{
    display: inline-block;

}
#navlist{
    list-style-type: none;
    display: inline-block; 
}
#navlist li{
    float: left;
    border-left: solid;
    border-left-color: whitesmoke;
    padding: 10px;
}
#navlist li a{
    text-decoration: none;
    color: whitesmoke;
    
}
footer{
    background-color: lightgray;
    height: 30px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
#flexdiv{
    display:grid;
    grid-template-columns: 66% 33%;
} 
#containerdiv{
    width: 80%;
    margin: auto;
}
#imagediv img{
    width: 100%;
}

#maincontainer{
    width: 80%;
    margin: auto;
}
