header{
    height: 6em;
    background-image: url(../images/unnamed.gif);
    background-size: contain;
}
h1,h3{
    color: chocolate;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    font-style: italic;
}
body{
    background-color: rgba(177, 130, 97, 0.384);
}
a{
    text-decoration: none;
    color: darkgreen;
}   

a:hover{
    color: firebrick;
    text-decoration: underline;

}
p::first-letter{
    font-size: 150%;
}
dt,dd{
    color: olive;
}
dd{
    font-style: italic;
}
img.moods{
    width: 10em;
    height: 10em;
}
footer{
    background-color: black;
    height: 3em;
}
