
header{
    background-image:url(../images/unnamed.gif);
    height:4cm;
    background-size: contain;
}
body {
    background-image: url(../images/db.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-color:black; 
    background-image: url(../images/argiro2.jfif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}
b{
    color:rgb(119, 57, 57);
}
h3,h4{
    color: rgb(119, 57, 57);	
    font-style: italic;
    font-weight: bold;
}
ul ul{
    display: none;
}
li:hover > ul{
    display:initial;
}